<table width="100%" style="border-collapse:collapse;margin:0 auto;color:#272727">
    <tbody>
        <tr>
            <td align="center"
                style="font-family:Trebuchet MS,arial;vertical-align:top;width:100%;padding-bottom:0;color:#272727">
                <table align="center"
                    style="border-collapse:collapse;margin:0 auto;text-align:left;width:600px;background:pink">
                    <tbody>
                        <tr>
                            <td align="center" style="font-family:Trebuchet MS,arial;vertical-align:top;background-color:#fff;padding:25px 25px 0 55px;color:#272727">
                                <a href="https://app.com/"
                                    style="color:#1f5fad;text-decoration:none" target="_blank">
                                     
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td
                                style="font-family:Trebuchet MS,arial;vertical-align:top;background-color:#fff;padding:10px;color:#272727; border: 1px solid #eaeaea;">
                                <table style="border-collapse:collapse;width:100%">
                                    <tbody>
                                        <tr>
                                            <td align="left"
                                                style="font-family:Trebuchet MS,arial;vertical-align:top;padding-top:0;color:#272727">
                                                <h2
                                                    style="line-height:1.1;margin-top:25px;margin-bottom:20px;font-size:20px;font-weight:700;color:#272727;padding-left:5px">
                                                    ##USER## said:</h2>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>



                                <table
                                    style="background-color:#f8faff;border-collapse:collapse;width:100%;border-radius:10px">
                                    <tbody>
                                        <tr>
                                            <td
                                                style="font-family:Trebuchet MS,arial;vertical-align:top;padding:20px 70px 30px 45px;color:#272727">
                                         
                                                <p
                                                    style="margin-top:0;font-size:15px;font-weight:400;font-family:Trebuchet MS,arial;line-height:1.5;margin-bottom:20px;color:#272727">
                                                    ##MESSAGE##
                                                </p>
                                                <p style="font-size:15px;font-weight:400;font-family:Trebuchet MS,arial;line-height:1.5;margin-bottom:20px;margin-top:50px;color:#272727">
                                                   View this message in your nodeapp account:
                                                   </p>
                                                   <p style="margin-top:0;font-size:15px;font-weight:400;font-family:Trebuchet MS,arial;line-height:1.5;margin-bottom:20px;color:#272727">
                                                       <a href="##URL##" style="background:#ef7c4f;border:1px solid #ef7c4f;font-family:Trebuchet MS,arial;font-size:15px;line-height:47px;padding:0;display:block;border-radius:4px;font-weight:600;max-width:305px;text-align:center;height:47px;text-decoration:none;color:#ffffff">View details and reply</a>
                                                </p>
                                                <p style="font-size:15px;font-weight:400;font-family:Trebuchet MS,arial;line-height:1.5;margin-bottom:0px;margin-top:10px;color:#272727">
                                                    Or simply reply to this email to send your response.
                                                   </p>

                                            </td>
                                        </tr>
                                <tr>
                                    <td
                                        style="font-family:Trebuchet MS,arial;vertical-align:top;background-color:#fff;padding:25px 0; padding-top:40px;color:#272727; border-top: 1px solid #e1e1e1;">
                                        <table style="border-collapse:collapse;width:100%">
                                            <tbody>
                                                <tr>
                                                    <td style="font-family:Trebuchet MS,arial;vertical-align:top;color:#272727">
                                                        <p
                                                            style="margin-top:0;margin-bottom:10px;font-size:14px;  text-align: center; padding-bottom: 5px; vertical-align:middle;margin:0;color:#272727">
                                                            The nodeapp team </p>
                                                    </td>
                                                </tr>
                                                 
                                                <tr>
                                                    <td style="font-family:Trebuchet MS,arial;vertical-align:top;color:#272727">
                                                        <p
                                                            style="margin-top:0;margin-bottom:10px;font-size:14px; text-align: center; vertical-align:middle;margin:0;color:#272727">
                                                            nodeapp <a href="www.nodeapp.com"
                                                                style="color:#1f5fad;text-decoration:none"
                                                                target="_blank">www.nodeapp.com</a>
                                                        </p>
                                                    </td>
                                                </tr>
        
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                    </tbody>
                                </table>






                            </td>
                        </tr>
 

                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
